/*
 * 1. ✓ Add a style tag that sets a rule for .list-item to make the color red.
 */

body {
  font-family: "Verdana", sans-serif;
}

.list-item {
  color: red;
}
img {
  height: 500px;
  width: auto;
}

form {
  margin-top: 4em;
}

label {
  display: block;
  margin: 1em 0;
  font-weight: bold;
}
button {
  cursor: pointer;
}
input {
  display: block;
}
